body {
    font-family: Arial, sans-serif;
    background: #ffffff;
}

.container {
    width: 800px;
    margin: 20px auto;
    border: 4px solid black;
    padding: 12px;
}


header {
    background: #ff3333;
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}


nav {
    background: #14c1de;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    font-weight: bold;
}

.main {
    display: flex;
    margin-top: 10px;
    align-items: stretch;   
}


.left {
    width: 60%;
    display: flex;
    flex-direction: column;
}

section, article {
    flex: 1;                
    text-align: center;
    font-weight: bold;
    padding: 25px;
}

section {
    background: #ffc266;
    margin-bottom: 10px;
}

article {
    background: #ff9c57;
}


aside {
    width: 40%;
    background: #ff66cc;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}



footer {
    background: #777;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    font-weight: bold;
}



